* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    border: 0;
}

/*헤더 */
#main_header {
    width: 960px;
    height:300px;
    margin: 0 auto;
    position: relative;
    
}

#main_header>audio {
    position: absolute;
    left: 0px;
    top: 10px;
}

#main_header>#topside_menu {

    position: absolute;
    left: 500px;
    top: 10px;
}

#main_header>#title {
    position: absolute;
    left: 350px;
    top: 60px;
}

#main_header>#ser {
    position: absolute;
    left: 270px;
    top: 220px;
}

#main_header>#middle_menu {
    position: absolute;
    left: 20px;
    top: 270px;
}

/*타이틀*/

#title>h1 {
    font-size: 100px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(27, 41, 231, 0.842);
    font-style: italic;
    text-shadow: -10px -3px 4px rgba(96, 117, 150, 0.95);

}

#title>p {
    text-align: center;
    font-size: 16px;
    height: 25px;
    left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(80, 23, 172, 0.548);
    font-style: oblique;
    text-shadow: -10px -3px 4px rgba(96, 117, 150, 0.95);
}

#input1 {
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border-style: inset;
}

/*메뉴(1)*/
#topside_menu {
    overflow: hidden;
}

#topside_menu>ul>li {
    float: left;
}

#topside_menu>ul>li>a {
    display: block;
    padding: 7px 50px;
    background-color: #E4F7BA;
    border: 1px solid #ABF200;
    
}
#topside_menu>ul>li>a:hover{
    background-color: plum;
}

#topside_menu>ul>li:first-child>a {
    border-radius: 5px 0 0 5px;
}

#topside_menu>ul>li:last-child>a {
    border-radius: 0 5px 5px 0;
}

/*메뉴(2)*/
#middle_menu {
    overflow: hidden;
}

#middle_menu>ul>li {
    float: left;
}

#middle_menu>ul>li>a {
    display: block;
    padding: 7px 70px;
    background-color: #E4F7BA;
    border: 1px solid #ABF200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#middle_menu>ul>li>a:hover{
    background-color: plum;
}

#middle_menu>ul>li:first-child>a {
    border-radius: 5px 0 0 5px;
}

#middle_menu>ul>li:last-child>a {
    border-radius: 0 5px 5px 0;
}

/*콘텐츠*/
#content {
 
    width: 960px;
    margin: 0 auto;
}
#con1 { 
    overflow: scroll;
    border: 1px solid black;
    margin-top: 20px;
    background-color: #D4F4FA;
    text-align: center;
}
#con2 {
    overflow: hidden;
    border: 1px solid black;
    margin-top: 10px;
}

/*본문*/
#main_section {
    width: 60%;
    float: left;
    position: relative;
}

#main_section>img {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    padding: 20px;
    position: absolute; 
    top : 40px;left: 100px;
}

/*사이드*/
#left_aside {
    width: 20%;
    height: 800px;
    float: left;
    border: 1px solid black;
    overflow: scroll;
    background-color: #FAE0D4;
    text-align: center;
}
#left_aside>h1{
    margin-top: 20px;
    
}

#right_aside {
    width: 20%;
    height: 800px;
    float: right;
    border: 1px solid black;
    overflow: scroll;
    background-color: #FAF4C0;
    text-align: center;
}
#right_aside>h1 {
    margin-top: 20px;
   
}

/*푸터*/
#main_footer {
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}